:root{
    font-size: 16px;
}
body{
    background-color:#111;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    flex-direction: column;
}
.tour{
    height: 100px;
    font-size: 2.2rem;
    font-family: sans-serif;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    color: white;
}
.tour i{
    font-size: 2.2rem;
}
.tour i.bi-circle{
    margin-bottom: 10px;
}

.line-row,
.line-col,
.line-cross1,
.line-cross2{
    position: absolute;
    background: linear-gradient(red, red) no-repeat;
    background-position: 50%;
    width: 100%;
    height: 200%;
}
.line-row{
    background-size: 100% 6%;
    width: 200%;
    height: 100%;
}
.line-col{
    background-size: 6% 100%;
}
.line-cross1{
    background-size: 100% 6%;
    transform: rotate(45deg);
    width: 200%;
    height: 100%;
}
.line-cross2{
    background-size: 6% 100%;
    transform: rotate(45deg);
    width: 100%;
    height: 200%;
}

.container{
    overflow: hidden;
    padding: 10px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    background-color: #333;
    width: 500px;
    height: 500px;
    position: relative;
}
.square{
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.element{
    color: white;
    font-size: 150px;
    max-width: 150px;
    max-height: 150px;
}
.bi-circle{
    font-size: 140px;
    box-sizing: border-box;
    margin-top: 10px;
}
.win .win-text{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    color: green;
    border: 2px solid green;
    
    font-weight: 900;

    font-size: 4rem;
    font-family: sans-serif;
    z-index: 1;
    flex-direction: column;

    background-color: rgba(0,0,0,0.7);
    gap:40px;
    
}
.win .win-text::after{
    content: 'Click to play again';
    font-size: 1.4rem;
    font-weight: 600;
    color: #000;
    background-color: rgba(255,255,255,0.8);
    padding: 15px 25px;
    border-radius: 20px;
    cursor: pointer;
}
.win .win-text .bi{
    font-size: 2.5rem;
}
.win .win-text {
    font-size: 2.7rem;
    color: gold;
}
